              pip install  flask_sqlalchemy==2.5.1
              pip install  flask==1.1.4
              pip install  jinja2==3.0.1
              pip install  numpy
              pip install  pillow==8.2.0
            pip install  requests==2.25.1
            pip install  werkzeug==1.0.1
